@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto%20Mono:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open%20Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google%20Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic%20Relief:wght@400;500;700&display=swap');

:root {
    --accent: 30, 30, 225;
    --ui-1: 250, 250, 250;
    --ui-1-border-color: var(--md-sys-color-inverse-primary);
    --ui-2: 230, 230, 230;
    --ui-surface-contents-no-color: 0, 0, 0;
    --text: #000;
    --ui-text: #fff;
    --radii-main: 12px;
    --radii-second: 9px;
    --radii-third: 6px;
    --padding-super-small: 3px;
    --padding-small: 6px;
    --padding-moderate: 9px;
    --padding-normal: 12px;
    --padding-big: 15px;
    --main-fz: 16px;
    --small-fz: 15px;
    --blur-main: 12px;
    --anim-speed-fast: 133ms;
    --anim-speed-med: 200ms;
    --anim-speed-slow: 300ms;
    --ui-main-opacity: 0.9;
    --md-ref-typeface-plain: 'Poppins';
    --md-ref-typeface-brand: var(--md-ref-typeface-plain);
    --font: var(--md-ref-typeface-plain), system-ui, Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
    pointer-events: auto;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
    pointer-events: auto;
}

::-webkit-scrollbar-thumb {
    background: rgba(var(--accent), 0.9);
    border-radius: 5px;
    pointer-events: auto;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(var(--accent), 0.9);
}

::-webkit-scrollbar-thumb:active {
    background: rgba(var(--accent), 1.0);
}

md-outlined-button {
    --md-outlined-button-container-shape: var(--radii-main);
}

md-text-button {
    --md-text-button-container-shape: var(--radii-main);
}

md-filled-button {
    --md-filled-button-container-shape: var(--radii-main);
}

md-elevated-button {
    --md-elevated-button-container-shape: var(--radii-main);
}

body {
    color: var(--text);
    font-size: var(--font-size-text);
    background-color: var(--md-sys-color-surface-variant);
    font-family: var(--font);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

button,
p {
    font-family: var(--font);
    font-size: var(--main-fz);
    color: var(--text);
}

.window {
    position: absolute;
    display: flex;
    flex-direction: column;
    min-width: 80px;
    min-height: 60px;
    border-radius: var(--radii-main);
    background-color: rgba(var(--ui-1), var(--ui-main-opacity));
    resize: both;
    overflow: auto;
    box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.1);
    z-index: 3;
    max-width: 100%;
    max-height: 100%;
    backdrop-filter: blur(var(--blur-main));
    -webkit-backdrop-filter: blur(var(--blur-main));
}

.window-titlebar-layout-text {
    color: var(--text);
}

.window-titlebar {
    width: 100%;
    padding: var(--padding-normal);
    flex-shrink: 0;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(var(--accent), 0.1);
    background-color: rgba(var(--ui-1), 1.0);
}

.window-content {
    flex-grow: 1;
    overflow: auto;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: var(--padding-normal);
}

.column-button-container {
    /* Debugged by AI */
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, max-content));
    gap: 3px;
}

.column-button-container md-outlined-button md-filled-button {
    all: unset;
}

textarea {
    font-family: monospace;
    border: none;
    border: 1px solid rgba(var(--accent), 0.1);
    border-radius: var(--radii-second);
    background-color: rgba(var(--ui-2));
    font-size: var(--small-fz);
}

textarea:focus {
    outline: none;
    border: 1px solid rgba(var(--accent), 0.2);
}

.context-menu {
    position: fixed;
    background-color: rgba(var(--ui-2));
    padding: var(--padding-small);
    border-radius: var(--radii-main);
    width: 200px;
    height: auto;
    z-index: 99999999;
    box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.05);
    border: 1px solid var(--ui-1-border-color);
    font-size: var(--small-fz) !important;
}

.context-menu * {
    font-size: var(--small-fz) !important;
}

.list-button {
    width: 100%;
    box-sizing: border-box;
    border-radius: var(--radii-second);
    border: none;
    cursor: normal;
    text-align: left;
    background-color: transparent;
    padding: 6px;
    font-family: var(--font);
    color: var(--text);
}

.small-text {
    font-size: var(--small-fz);
}

.list-button:hover {
    background-color: rgba(var(--accent), 0.3);
}

.small-button {
    box-sizing: border-box;
    border-radius: var(--radii-second);
    border: none;
    cursor: pointer;
    padding: 4px 6px;
    font-family: var(--font);
    font-size: 14px;
    background-color: rgba(var(--accent), 0.8);
    color: var(--ui-text);
}

.small-button:hover {
    background-color: rgba(var(--accent), 0.75);
}

.small-button:active {
    background-color: rgba(var(--accent), 0.7);
}

.flexbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flexbox-left {
    order: 1;
    flex-grow: 1;
    user-select: none;
    text-align: left;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.flexbox-right {
    order: 2;
    display: flex;
    align-items: center;
}

.symbol-style-files {
    font-size: 20px !important;
    font-weight: 400 !important;
}

.shelf {
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: var(--padding-small);
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    background-color: rgba(var(--ui-1), var(--ui-main-opacity));
    backdrop-filter: blur(var(--blur-main));
    -webkit-backdrop-filter: blur(var(--blur-main));
}

.shelf-button {
    background-color: rgba(var(--ui-surface-contents-no-color), 0.15);
    border: none;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
}

.shelf-button:active {
    background-color: rgba(var(--ui-surface-contents-no-color), 0.25);
}

.shelf-button-layer-2 {
    border-radius: 50px;
    padding: 2px;
    border: 1px solid rgba(var(--ui-surface-contents-no-color), 0.4);
}

.shelf-button-layer-3 {
    border-radius: 50px;
    width: 10px;
    height: 10px;
    background-color: rgba(var(--ui-surface-contents-no-color), 0.6);
}

.bold {
    font-weight: 600;
}

.text {
    padding: var(--padding-small);
}

.dialog-box {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: var(--padding-normal);
    border-radius: var(--radii-main);
    background-color: rgba(var(--ui-2));
    box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.05);
    z-index: 999999999999;
    width: 250px;
    max-width: 85%;
}

.dialog-box-two-buttons {
    display: flex;
    justify-content: space-between;
    gap: var(--padding-small);
    padding-top: var(--padding-small);
}

.flex-grow-1 {
    flex-grow: 1;
}

.test-div {
    background-color: rgba(var(--accent), 0.5);
    border-radius: var(--radii-second);
    padding: var(--padding-normal);
}

.titlebar-button {
    width: 100%;
    box-sizing: border-box;
    border-radius: var(--radii-second);
    border: none;
    cursor: normal;
    text-align: left;
    background-color: transparent;
    padding: 6px;
    font-size: var(--small-fz);
    color: var(--text);
}

.titlebar-button:hover {
    background-color: rgba(var(--accent), 0.2);
}

.full-width {
    width: 100%;
}

.divider {
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(var(--ui-surface-contents-no-color), 0.1);
    height: 1px;
    margin: 0px;
    padding: 0px;
}

.window-mgmt-button {
    --md-filled-tonal-icon-button-icon-size: 18px;
    --md-filled-tonal-icon-button-container-width: 24px;
    --md-filled-tonal-icon-button-container-height: 24px;
    margin-left: 3px;
}

.wide {
    width: 100%;
    box-sizing: border-box;
}

.window-split-sidebar {
    width: 140px;
    overflow-y: auto;
    resize: horizontal;
    min-width: 110px;
    max-width: 50%;
    box-shadow: var(--small-shadow);
    border-right: 1px solid rgba(var(--ui-secondary), 1.0);
    z-index: 1;
    box-sizing: border-box;
}

.sidebar-compacted {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 180px;
    z-index: 1000;
    height: 100%;
}

.window-split-content {
    flex-grow: 1;
    overflow-y: auto;
    padding: 14px;
    flex: 1 1 0%;
    height: 100%;
    box-sizing: border-box;
}

.hide {
    display: none;
}

.hidden {
    display: none;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.line-wobble,
.line-wobble::after {
    border-radius: calc(var(--uib-line-weight)/ 2)
}

.line-wobble::after,
.line-wobble::before {
    content: '';
    height: 100%;
    width: 100%;
    background-color: rgba(var(--acc), 1.0);
}

.line-wobble {
    --uib-size: 120px;
    --uib-speed: 1.55s;
    --uib-color: rgba(var(--acc), 0.5);
    --uib-line-weight: 6px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--uib-line-weight);
    width: var(--uib-size);
    overflow: hidden;
    transform: translate3d(0, 0, 0)
}

.line-wobble::before {
    position: absolute;
    top: 0;
    left: 0;
    opacity: .2
}

.line-wobble::after {
    animation: wobble var(--uib-speed) ease-in-out infinite;
    transform: translateX(-90%)
}

@keyframes wobble {

    0%,
    100% {
        transform: translateX(-90%)
    }

    50% {
        transform: translateX(90%)
    }
}

.bar {
    width: 100%;
    box-sizing: border-box;
    border-radius: var(--radii-second);
    background-color: rgba(var(--ui-2));
    padding: var(--padding-small);
    border: 1px solid rgba(var(--ui-1-border-color));
}

.bar-in-a-bar {
    background-color: rgba(var(--accent), 0.2);
    padding: var(--padding-small);
    border-radius: var(--radii-second);
}

.brick-layout {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 2px;
}

.button-list-normal>* {
    margin-bottom: var(--padding-super-small);
}

.button-list-horizontal>* {
    margin-left: var(--padding-super-small);
}

.md-list-item,
md-list-item {
    border-radius: var(--radii-third);
}

.no-padding {
    padding: 0px !important;
}

.header-image {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: var(--radii-third);
    margin: var(--padding-small);
}

.snack {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 12px;
    padding: var(--padding-normal);
    border-radius: var(--radii-main);
    background-color: rgba(var(--ui-1), 1.0);
    border: 1px solid rgba(var(--ui-1-border-color));
    z-index: 9999999999999;
}

.margin-bottom-small {
    margin-bottom: var(--padding-small);
}